body {
	background-color: var(--background-color);
	color: var(--text-color);
	
	font-family: var(--text-font), sans-serif;
	font-weight: normal;

	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1;
	padding: 0 10vw;
}

@media (max-width: 768px) {
	#content {
		padding: 0 2vw;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font), sans-serif;
	font-weight: normal;
}

h1:not(:first-child), h2:not(:first-child) {
	margin-top: 3rem;
}

h3:not(:first-child), h4:not(:first-child) {
	margin-top: 2.4rem;
}

h5:not(:first-child), h6:not(:first-child) {
	margin-top: 2rem;
}

p, a, li, ul {
	font-size: 1.2rem;
}

#content img {
	width: 50%;
	margin: 2rem 0;

	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	#content img {
		width: 80%;
		margin: 0 10%;
		border-radius: 4px;
	}
}

#content a {
	color: var(--secondary-color-dim);
	transition: color 0.3s ease;
	text-decoration: none;
}

#content a:hover, a:active {
	color: var(--secondary-color);
}
