:root {
	--primary-color: #f3b252;
	--primary-color-dim: #eda547;

	--secondary-color: #833a83;
	--secondary-color-dim: #6e306e;

	--background-color: #2b2b2b;
	--background-color-dim: #202020;

	--text-color: #ffffff;
	--text-color-dim: #fdfdfd;

	--heading-font: 'Oswald';
	--text-font: 'Quicksand';
}
